<%- include ('../partials/header.ejs') %>

<div class="grid-container">
    <div class="project_header">
    </div>
    <div class="tasks">
        <div class="col">
            <div class="col_header">
                <h2>Backlog</h2>
            </div>
            <div class="new task">
                <p class="plus">+</p>
                <div class="new_form hidden">
                    <label for="task">task: </label>
                    <input type="text" name="" value="" id="task">
                </div>
            </div>
            <% tasks.backlog.forEach(task => { %>
                <div class="task" data-entry=<%= task.id %>>
                    <p><%= task.task %></p>
                    <button type="submit">delete</button>
                </div>
            <% }); %>
        </div>
        <div class="col">
            <div class="col_header">
                <h2>Ready to do</h2>
            </div>
            <div class="new task">
                <p class="plus">+</p>
            </div>
            <% tasks.ready.forEach(task => { %>
                <div class="task" data-entry=<%= task.id %>>
                    <p><%= task.task %></p>
                    <button type="submit">delete</button>
                </div>
            <% }); %>
        </div>
        <div class="col">
            <div class="col_header">
                <h2>In progress</h2>
            </div>
            <div class="new task">
                <p class="plus">+</p>
            </div>
            <% tasks.progress.forEach(task => { %>
                <div class="task" data-entry=<%= task.id %>>
                    <p><%= task.task %></p>
                    <button type="submit">delete</button>
                </div>
            <% }); %>
        </div>
        <div class="col">
            <div class="col_header">
                <h2>Done</h2>
            </div>
            <div class="new task">
                <p class="plus">+</p>
            </div>
            <% tasks.done.forEach(task => { %>
                <div class="task" data-entry=<%= task.id %>>
                    <p><%= task.task %></p>
                    <button type="submit">delete</button>
                </div>
            <% }); %>
        </div>
    </div>
    
</div>

<%- include ('../partials/footer.ejs') %>