<%- include ('../partials/header.ejs') %>

<div class="grid-container">
    <div class="project_header">
    </div>
    <div class="tasks">
        <div class="row">
            <div class="row_header">
                <h2>Backlog</h2>
            </div>
            <% tasks.backlog.forEach(task => { %>
                <div class="task">
                    <p><%= task.task %></p>
                </div>
            <% }); %>
        </div>
        <div class="row">
            <div class="row_header">
                <h2>Ready to do</h2>
            </div>
            <% tasks.ready.forEach(task => { %>
                <div class="task">
                    <p><%= task.task %></p>
                </div>
            <% }); %>
        </div>
        <div class="row">
            <div class="row_header">
                <h2>In progress</h2>
            </div>
            <% tasks.progress.forEach(task => { %>
                <div class="task">
                    <p><%= task.task %></p>
                </div>
            <% }); %>
        </div>
        <div class="row">
            <div class="row_header">
                <h2>Done</h2>
            </div>
            <% tasks.done.forEach(task => { %>
                <div class="task">
                    <p><%= task.task %></p>
                </div>
            <% }); %>
        </div>
    </div>
    
</div>

<%- include ('../partials/footer.ejs') %>